<div class="row mb-5">
    <div class="col-sm-3 offset-sm-1">
        <div class="card">
            <img class="card-img-top" [src]="user.photoURL">
            <div class="card-body text-center">
                <h4 class="card-title">{{user.displayName}}</h4>
                <a routerLink="/edit-profile/{{user.uid}}"
                class="btn btn-sm btn-primary">Edit profile</a>

            </div>
        </div>
    </div>

    <div class="col-sm-7">
        <app-create (postcreated)="onpostcreated()"></app-create>
        <app-post *ngFor="let post of posts" [post]="post" (ondelete)="ondelete()"></app-post>
    </div>
</div>
