<div class="row mt-5">
    <div class="col">
        <div class="form-group">
            <label>Post title</label>
            <input type="text" class="form-control" id="title" placeholder="Post title"
            name="title" [(ngModel)]="title">
        </div>

        <div class="form-group">
            <label>Post Content</label>
            <ngx-text-editor [placeholder]="'Enter text here...'" [config]="editorconfig" [(ngModel)]="content"></ngx-text-editor>
        </div>

        <div class="form-group float-right">
            <button (click)="createPost()" class="btn btn-warning round">Submit</button>
        </div>
    </div>
</div>
