<app-signup></app-signup>

<div class="row">
    <div class="col-sm-6 text-right pt-5">
        <img class="align-middle m-5" height="300px" src="../../assets/What-Is-Scribe-Image.png">
    </div>
    <div class="col-sm-4">
        <h2 class="mx-5 my-5">What is scribe</h2>
        <h6 class="mx-5 my-1">Scribe is a thought sharing platform where you can share
            thoughts and crazy ideas with the world.you can also interact with
            other users by commenting on their posts.
            <br/>
            create a free account and get started.
            <br/>
        </h6>
    </div>
</div>

<div class="row">
    <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
        <h5>Contact Us</h5>
            <div class="row">
                <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-5">
                    <i class="fa fa-phone mt-3"></i>
                    98089080980<br/>
                    <i class="fa fa-envelope mt-3"></i>
                    scribe@gmail.com<br/>
                    <i class="fa fa-facebook mt-3"></i>
                    Sample app<br/>
                </div>


                <div class="col-sm-6 text-left py-5 my-5 px-5">
                    <i class="fa fa-map-marker mt-3"></i>
                    Scribe app<br/>
                    <i class="fa fa-map-marker mt-1 invisible"></i>
                    b-132 dfkjfdfs shastri nagar<br/>
                    <i class="fa fa-map-marker mt-1 invisible"></i>
                    Nirvana country<br/>
                    <i class="fa fa-map-marker mt-1 invisible"></i>
                    Gurgaon India,12353<br/>
                </div>
            </div>
    </div>
</div>

